html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: none;
}

div {
  box-sizing: border-box;
}

body {
  background: #FCF9E9;
}

h1 {
  font-family: "Noto Serif TC", serif;
  font-weight: 700;
  font-size: 7.5rem;
  line-height: 150%;
}

h2 {
  font-family: "Noto Serif TC", serif;
  font-weight: 700;
  font-size: 3rem;
  line-height: 150%;
}

h3 {
  font-family: "Noto Sans TC", sans-serif;
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 150%;
}

h4 {
  font-family: "Noto Sans TC", sans-serif;
  font-weight: 700;
  font-size: 1.75rem;
  line-height: 150%;
}

h5 {
  font-family: "Noto Sans TC", sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 160%;
}

p {
  font-family: "Noto Sans TC", sans-serif;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 160%;
  color: #515151;
}

h6 {
  font-family: "Noto Sans TC", sans-serif;
  font-weight: 700;
  font-size: 1.75rem;
  line-height: 150%;
  color: #00A199;
}

.name {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #00A199;
  gap: 16px;
}
.name .ch {
  font-family: "Noto Serif TC", serif;
  font-weight: 700;
  font-size: 3rem;
  line-height: 150%;
}
.name .eng {
  font-family: "Gaegu", sans-serif;
  font-weight: 400;
  font-size: 4.5rem;
  line-height: 160%;
}

input[type=button], input[type=submit] {
  padding: 8px 32px;
  background: #00A199;
  color: #FFFFFF;
  font-family: "Noto Sans TC", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  line-height: 160%;
  border: none;
  border-radius: 8px;
  transition: 0.1s;
  cursor: pointer;
}
input[type=button]:hover, input[type=submit]:hover {
  background: #14C3BB;
}
input[type=button]:focus, input[type=submit]:focus {
  box-shadow: 0 0 0 2px #00A199;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=text], input[type=email], textarea {
  padding: 10px;
  border: 1px solid #C9F1EF;
  background: #FFFFFF;
  border-radius: 4px;
  color: #00A199;
  font-family: "Noto Sans TC", sans-serif;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 160%;
}
input[type=text]:hover, input[type=email]:hover, textarea:hover {
  box-shadow: 0 0 0 1px #00A199;
}
input[type=text]:focus, input[type=email]:focus, textarea:focus {
  background: #E9FEFD;
  outline: 1px solid #00A199;
}

label {
  color: #00A199;
  margin-bottom: 12px;
  font-family: "Noto Sans TC", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 160%;
}

.banner {
  background: url(../img/HeaderBackground.png) no-repeat;
  background-position: top center;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.banner .header-menu {
  background: #FFFFFF;
  border-radius: 100px;
  width: 62.5%;
  max-width: 1200px;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.2% 5%;
  box-shadow: 6px 8px #FFDC9E;
  z-index: 2;
  position: relative;
}
.banner .header-menu::before {
  content: "";
  width: 2vw;
  height: 40px;
  position: absolute;
  top: -27px;
  left: 30px;
  background: #FFFFFF;
  z-index: -1;
  transform: rotate(-30deg);
  border-radius: 2px;
  border-right: 6px solid #FFDC9E;
  clip-path: polygon(100% 0, 100% 100%, 0 63%);
}
.banner .header-menu::after {
  content: "";
  width: 2vw;
  height: 40px;
  position: absolute;
  top: -27px;
  left: 80px;
  background: #FFFFFF;
  z-index: -1;
  transform: rotate(-30deg);
  border-radius: 2px;
  border-right: 6px solid #FFDC9E;
  clip-path: polygon(100% 0, 100% 100%, 0 63%);
}
.banner .header-menu .content {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.banner .header-menu .content .logo h1 {
  font-family: "Gaegu", sans-serif;
  font-weight: 400;
  font-size: 2.5rem;
  line-height: 160%;
  color: #00A199;
}
.banner .header-menu .content .menu {
  display: flex;
  align-items: center;
  gap: 20px;
}
.banner .header-menu .content .menu .menu-nav {
  display: flex;
  gap: 40px;
}
.banner .header-menu .content .menu .menu-nav li a {
  color: #00A199;
  font-family: "Noto Sans TC", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  line-height: 160%;
}
.banner .header-menu .content .menu .menu-social {
  display: flex;
}
.banner .container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #00A199;
  margin-top: -32px;
  padding-top: 320px;
  border: 1px solid #000;
}
.banner .container .text {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.banner .container .text .slogan {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 62.5%;
  max-width: 1200px;
}
.banner .container .chips {
  height: 200px;
}

.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 120px;
  height: 1080px;
  background: #FCF9E9 url(../img/VoteMiao-desktop.png) no-repeat bottom center;
}
.intro .container {
  width: 75%;
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 124px;
}
.intro .container .text {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.intro .container .text .intro-text {
  text-align: center;
}
.intro .container .text .intro-text span {
  color: #00A199;
}
.intro .container .text .intro-title {
  text-align: center;
  color: #00A199;
}

.activity-top {
  background: url(../img/cat-ear.png) no-repeat;
  background-size: 100%;
  background-position: top center;
  height: 460px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 240px;
  gap: 48px;
}
.activity-top .vote-box {
  width: 440px;
  height: 15px;
  background: #F4CA80;
}
.activity-top .title {
  color: #FCF9E9;
}

.activity {
  background: #00A199;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.activity .container {
  width: 75%;
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
}
.activity .container .content {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 50px;
  flex-wrap: wrap;
}
.activity .container .content .imgs {
  display: flex;
  flex-direction: column;
  padding: 32px;
}
.activity .container .content .imgs img {
  width: 100%;
}
.activity .container .content .scroll-bar {
  width: 2px;
  background: #FCF9E9;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.activity .container .content .timeline {
  display: flex;
  flex: 1;
  padding-top: 24px;
  margin-left: -74px;
}
.activity .container .content .timeline .activities {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.activity .container .content .timeline .activities .item {
  display: flex;
  gap: 18px;
}
.activity .container .content .timeline .activities .item .icon {
  background: #00A199;
  height: 52px;
}
.activity .container .content .timeline .activities .item .text .date {
  color: #FFDC9E;
  margin-bottom: 12px;
}
.activity .container .content .timeline .activities .item .text .title {
  color: #FFDC9E;
}
.activity .container .content .timeline .activities .item .text .text-content {
  color: #FCF9E9;
  font-family: "Noto Sans TC", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 160%;
}
.activity .container .content .timeline .activities .item.select {
  display: flex;
  gap: 18px;
}
.activity .container .content .timeline .activities .item.select .icon {
  background: #00A199;
}
.activity .container .content .timeline .activities .item.select .text .date {
  color: #FFDC9E;
  margin-bottom: 12px;
}
.activity .container .content .timeline .activities .item.select .text .title {
  color: #FFDC9E;
}
.activity .container .content .timeline .activities .item.select .text .content {
  color: #FCF9E9;
  font-family: "Noto Sans TC", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 160%;
}

.policy {
  background: #00A199;
  border-radius: 0 0 200px 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.policy .container {
  width: 75%;
  max-width: 1440px;
}
.policy .container .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.policy .container .content .policy-text {
  display: flex;
  flex-direction: column;
  gap: 80px;
  flex: 1;
  padding: 240px 0;
}
.policy .container .content .policy-text .header {
  color: #FFDC9E;
}
.policy .container .content .policy-text .content ul {
  display: flex;
  flex-direction: column;
  gap: 60px;
}
.policy .container .content .policy-text .content ul li h5, .policy .container .content .policy-text .content ul li p {
  color: #FFFFFF;
}
.policy .container .content .policy-img {
  padding: 120px 0;
}

.donation {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url(../img/donate-bg.png) no-repeat bottom center;
}
.donation .container {
  width: 75%;
  max-width: 1440px;
  padding: 120px 0;
}
.donation .container .header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 60px;
  gap: 20px;
}
.donation .container .header .title {
  text-align: center;
  color: #00A199;
}
.donation .container .header .subtitle {
  text-align: center;
  color: #14C3BB;
}
.donation .container .content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.donation .container .content .cards {
  display: flex;
  justify-content: space-between;
  width: 800px;
  margin-bottom: 120px;
}
.donation .container .content .cards .card {
  background: #FFFFFF;
  border-radius: 20px;
  box-shadow: 6px 8px #FFDC9E;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 260px;
  padding: 32px 20px;
  color: #00A199;
}
.donation .container .content .cards .card .card-header .title {
  text-align: center;
  margin-bottom: 16px;
}
.donation .container .content .cards .card .card-header .amount {
  color: #00A199;
  text-align: center;
}
.donation .container .content .cards .card .action {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.donation .container .content .cards .card .action .people {
  font-family: "Noto Sans TC", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 160%;
  color: #00A199;
}
.donation .container .content .donate {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}
.donation .container .content .donate .title {
  color: #00A199;
}
.donation .container .content .donate .subtitle {
  color: #14C3BB;
}
.donation .container .content .donate .input {
  display: flex;
  align-items: center;
}
.donation .container .content .donate .input:hover .sign {
  color: #14C3BB;
}
.donation .container .content .donate .input .sign {
  color: #00A199;
  font-family: "Noto Sans TC", sans-serif;
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 160%;
  padding-left: 16px;
  margin-bottom: 4px;
  z-index: 2;
}
.donation .container .content .donate .input .money {
  border: none;
  background: none;
  border-bottom: 4px solid #00A199;
  font-family: "Noto Sans TC", sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 160%;
  color: #00A199;
  margin-left: -48px;
  padding: 16px;
  padding-left: 60px;
  width: 400px;
  border-radius: 4px;
}
.donation .container .content .donate .input .money:hover {
  border-color: #14C3BB;
}
.donation .container .content .donate .input .money:focus {
  background: #E9FEFD;
  outline: none;
}
.donation .container .content .donate .input .money::selection {
  background: #F4CA80;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact .container {
  width: 75%;
  max-width: 1440px;
  padding: 100px 0;
}
.contact .container .header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  margin-bottom: 40px;
}
.contact .container .header .title {
  color: #00A199;
}
.contact .container .header .subtitle {
  text-align: center;
}
.contact .container .content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact .container .content .form {
  width: 880px;
  display: flex;
  justify-content: space-between;
  gap: 40px;
  margin-bottom: 40px;
}
.contact .container .content .form .info {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 28px;
  align-items: stretch;
}
.contact .container .content .form .info .input {
  display: flex;
  flex-direction: column;
}
.contact .container .content .form .comment {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.contact .container .content .form .comment .comment-text {
  flex: 1;
}
.contact .container .content .send-comment {
  width: 400px;
  margin-bottom: 8px;
}
.contact .container .content p {
  color: #00A199;
  font-family: "Noto Sans TC", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 160%;
}

.footer {
  background: #00A199;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer .container {
  width: 75%;
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 0;
}
.footer .container .content {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 80px;
}
.footer .container .content .block .ul-title {
  color: #FFDC9E;
  margin-bottom: 8px;
}
.footer .container .content .block ul {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.footer .container .content .block ul li a {
  color: #FFFFFF;
  font-family: "Noto Sans TC", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 160%;
}
.footer .container .content .follow {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer .container .content .follow .ul .ul-title {
  color: #FFDC9E;
  margin-bottom: 32px;
}
.footer .container .content .follow .ul .follow-social {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.footer .container .content .follow .copy-right {
  display: block;
  color: #FFFFFF;
  font-family: "Noto Sans TC", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 160%;
}/*# sourceMappingURL=style.css.map */