@import "template.scss";

body{
    scroll-snap-type: y mandatory;
    // height: 100vh;
    overflow: auto;
    // display: flex;
}

// .fade-in,.hide{
//     // display: none;
//     opacity: 0;
// }
.tags{
    // border: 1px solid $black;
    display: flex;
    gap: 16px;
    flex-wrap: wrap;

    justify-content: center;
    .tag{
        display: flex;
        align-items: baseline;
        border: 0.5px solid $black;
        padding: 8px  16px;
        border-radius: 32px;
        color: $gray;
        transition: 0.25s;
        cursor: pointer;
        &:hover{
            background-color: $gray;
            user-select: none;
            color: $white;
            
            border-color: $gray;
            }

        &::before{
            content: "#";
        }
        p{
            margin: 0;
        }
        h5{
            margin: 0;
        }
    }
    .tag.select{
        background-color: $gray;
        user-select: none;
        color: $white;
        
        border-color: $gray;
        }
    .reset{
        cursor: pointer;
        color: $gray;
        padding: 8px 16px;
        // border-bottom: 1px solid $gray;
        box-shadow: 0px -1px inset rgba($gray,0.2);
        transition: box-shadow 0.6s ease-in-out;
        &:hover{
            box-shadow: 0 -40px inset rgba($gray,0.2);
            color: $black;
        }
    }
    
}


// .header.scroll{
//     h4{
//         display: none;
//     }
// }

.banner{
    height: 100vh;
    @media (max-width:768px){
        // height: auto;
        // padding-top: 120px;
    }
    .container{
        // justify-content: center;
        .search{
            border-bottom: 1px solid $black;
            padding: 16px 32px;
            width: 50%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 64px;
            position: relative;
            @media (max-width:1200px) {
                width: 60%;
            }
            @media (max-width:768px) {
                width: 100%;
                gap: 16px;
            }
            .btn{
                // border: 1px solid #000;
                border-radius: 100%;
                min-width: 50px;
                height: 50px;
                padding: 8px;
                display: flex;
                justify-content: center;
                align-items: center;
                &:hover{
                    background: rgba($gray, 0.20);
                }
                svg{
                    height:24px;
                }
            }
            
            h2{
                // line-height: 0;
                margin: 0;
                // flex-basis: fill;
                .typewriter::after{
                    content: "";
                    border-right: 1px solid $black;
                    animation: blink 0.5s infinite;
                }
                @keyframes blink {
                    0%,100%{opacity: 1;}
                    50%{opacity: 0;}
                    
                }
                .typewriter::before {
                    content:"";
                    animation: typing 5s infinite;
                  }
                @keyframes typing {
                    0%,7.69%{ content: "N";}
                    7.69%,15.38%{ content: "N";}
                    15.38%,23.07%{content:"NA"}
                    23.07%,30.76%{content:"NAI"}
                    30.76%,38.45%{content:"NAI H"}
                    38.45%,46.14%{content:"NAI HS"}
                    46.14%,53.83%{content:"NAI HSU"}
                    53.83%,61.52%{content:"NAI HSUA"}
                    61.52%,69.21%{content:"NAI HSUAN"}
                    69.21%,76.90%{content:"NAI HSUAN K"}
                    76.90%,84.59%{content:"NAI HSUAN KU"}
                    84.59%,92.28%{content:"NAI HSUAN KUO"}
                    92.28%,100%{content:"NAI HSUAN KUO"}
                }
            }
        }
        .relate{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 16px;
            .relate-title{
                // color: red;
                // border: 1px solid $black;
                margin: 0;
            }
            
            
        }

        
    }

    

}
.works{
    .container{
        .content{
            .cards{
                display: flex;
                flex-wrap: wrap;
                gap: 5%;
                }
                .card{
                    cursor: pointer;
                    width: 45%;
                    margin-bottom: 5%;
                    min-width: 300px;
                    // max-width: 600px;
                    background: #fff;
                    border-radius: 8px;
                    box-shadow: 0px 0px 5px 0px rgba($gray, 0.20);
                    transition: box-shadow 0.5s;
                    // height: fill;
                    &:hover{
                        box-shadow: 0px 0px 10px 5px rgba($gray, 0.50);
                    }
                    @media (max-width:960px) {
                        width: 100%;
                        min-width: 100%;
                    }
                    .img{
                        
                        height: 240px;
                        box-shadow: 0px 1px 0px 0px rgba($gray, 0.20);
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        overflow: hidden;
                        border-radius: 8px 8px 0 0 ;

                    }
                    .content{
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        padding: 16px;
                        gap: 16px;

                    }
                }
            }
        }
    }
   
  
    


.personal{
    .content{
        display: flex;
        
        width: 100%;
        gap: 2%;
        @media (max-width:960px) {
            flex-direction: column;
            gap: 32px;
            align-items: center;
        }
        .personal-pic{
            width: 20%;
            max-width: 450px;
            min-width: 320px;
        }

        .personal-info{
            display: flex;
            flex-wrap: wrap;
            flex: 1;
            gap: 5%;
            // border: 1px solid #000;
            @media (max-width:412px) {
                
                flex-direction: column;
                align-items: center;
            gap: 16px;
                // border: 1px solid #000;
            }
            .info-block{
                display: flex;
                flex-direction: column;
                // border: 1px solid #000;
                gap: 16px;
                // flex: 2;
                width: 47.5%;
                // min-width: 250px;
                padding: 0 0 5% 0;
                
                @media (max-width:412px) {
                    // align-items: center;
                    width: 100%;
                    // border-bottom: 0.5px solid $gray;
                    
                }
                .info-block-title{
                    display: flex;
                    flex-direction: column;
                    gap: 8px;
                    color: $gray;
                }
                .info-block-content{
                    display: flex;
                    flex-direction: column;
                    gap: 16px;
                    
                }
                .experience-item{
                    display: flex;
                    flex-direction: column;
                    gap: 8px;
                    p{
                        color: $gray;
                    }
                }
            }

        }
    }
}

.rights{
    padding: 8px;
    font-size: 12px;
    // font-family: 'Architects Daughter', cursive;
}