html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: none;
}

div {
  box-sizing: border-box;
}

body {
  background: #FCF9E9;
}

h1 {
  font-family: "Noto Serif TC", serif;
  font-weight: 700;
  font-size: 7.5rem;
  line-height: 150%;
}

h2 {
  font-family: "Noto Serif TC", serif;
  font-weight: 700;
  font-size: 3rem;
  line-height: 150%;
}

h3 {
  font-family: "Noto Sans TC", sans-serif;
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 150%;
}

h4 {
  font-family: "Noto Sans TC", sans-serif;
  font-weight: 700;
  font-size: 1.75rem;
  line-height: 150%;
}

h5 {
  font-family: "Noto Sans TC", sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 160%;
}

p {
  font-family: "Noto Sans TC", sans-serif;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 160%;
  color: #515151;
}

h6 {
  font-family: "Noto Sans TC", sans-serif;
  font-weight: 700;
  font-size: 1.75rem;
  line-height: 150%;
  color: #00A199;
}

.block {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.block .container {
  width: 75%;
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px;
}
.block .container .header .title,
.block .container .header .subtitle {
  text-align: center;
}
.block .container > * {
  width: 100%;
}

@media (max-width: 992px) {
  .block .container {
    width: 100%;
    max-width: none;
    padding: 16px;
  }
  .block .header .title {
    font-family: "Noto Sans TC", sans-serif;
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 160%;
  }
  .block .header .subtitle {
    font-family: "Noto Sans TC", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 160%;
  }
}
.name {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #00A199;
  gap: 16px;
  flex-wrap: wrap;
}
.name .ch {
  font-family: "Noto Serif TC", serif;
  font-weight: 700;
  font-size: 3rem;
  line-height: 150%;
}
.name .eng {
  font-family: "Gaegu", sans-serif;
  font-weight: 400;
  font-size: 4.5rem;
  line-height: 160%;
}

@media (max-width: 1280px) {
  .name {
    flex-direction: column;
    gap: 0px;
  }
  .name .ch {
    font-size: 40px;
  }
  .name .eng {
    font-size: 60px;
    line-height: 1;
  }
}
input[type=button],
input[type=submit],
.btn {
  padding: 8px 32px;
  background: #00A199;
  color: #FFFFFF;
  font-family: "Noto Sans TC", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  line-height: 160%;
  border: none;
  border-radius: 8px;
  transition: 0.1s;
  cursor: pointer;
}
input[type=button]:hover,
input[type=submit]:hover,
.btn:hover {
  background: #14C3BB;
}
input[type=button]:focus,
input[type=submit]:focus,
.btn:focus {
  background: #00A199;
  border: 1px solid #FFFFFF;
  box-shadow: 0 0 0 2px #00A199;
}

.btn.white {
  background: #FFFFFF;
  color: #00A199;
}
.btn.white:hover {
  background: #14C3BB;
}
.btn.white:focus {
  background: #00A199;
  border: 1px solid #FFFFFF;
  box-shadow: 0 0 0 2px #00A199;
  color: #FFFFFF;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=text],
input[type=email],
textarea {
  padding: 10px;
  border: 1px solid #C9F1EF;
  background: #FFFFFF;
  border-radius: 4px;
  color: #00A199;
  font-family: "Noto Sans TC", sans-serif;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 160%;
}
input[type=text]:hover,
input[type=email]:hover,
textarea:hover {
  box-shadow: 0 0 0 1px #00A199;
}
input[type=text]:focus,
input[type=email]:focus,
textarea:focus {
  background: #E9FEFD;
  outline: 1px solid #00A199;
}

label {
  color: #00A199;
  margin-bottom: 12px;
  font-family: "Noto Sans TC", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 160%;
}

.confrim-modal .modal-dialog {
  max-width: 600px;
}
.confrim-modal .modal-dialog .modal-content {
  border: none;
  border-radius: 60px;
}
.confrim-modal .modal-dialog .modal-content .modal-body {
  background: #00A199;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 36px;
  padding: 80px 180px;
  border-radius: 60px;
}
.confrim-modal .modal-dialog .modal-content .modal-body .text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.confrim-modal .modal-dialog .modal-content .modal-body .text h4 {
  color: #FFFFFF;
}
.confrim-modal .modal-dialog .modal-content .modal-body .text p {
  font-family: "Noto Sans TC", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  line-height: 160%;
  color: #F4CA80;
}

@media (max-width: 992px) {
  .confrim-modal .modal-dialog .modal-content .modal-body {
    padding: 60px;
  }
}
.donation-pay-modal .modal-body {
  background: #FCF9E9 url(../img/Murr\ Lovely.svg) no-repeat center right;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.donation-pay-modal .modal-body .donation-modal-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  max-width: 1280px;
  gap: 60px;
}
.donation-pay-modal .modal-body .donation-modal-container .donation-modal-header {
  display: flex;
  position: relative;
}
.donation-pay-modal .modal-body .donation-modal-container .donation-modal-header h3 {
  color: #00A199;
}
.donation-pay-modal .modal-body .donation-modal-container .donation-modal-content {
  background: #FFFFFF;
  border-radius: 60px;
  width: 100%;
  padding: 1.5% 3%;
  box-shadow: 6px 8px 0px 0px #FADCA8;
  display: flex;
  flex-wrap: wrap;
}
.donation-pay-modal .modal-body .donation-modal-container .donation-modal-content .donation-modal-content-block {
  width: 50%;
  padding: 3.9%;
  display: flex;
  flex-direction: column;
  gap: 36px;
}
.donation-pay-modal .modal-body .donation-modal-container .donation-modal-content .donation-modal-content-block .title {
  padding-bottom: 8px;
  border-bottom: 1px solid #00A199;
  color: #00A199;
}
.donation-pay-modal .modal-body .donation-modal-container .donation-modal-content .pay .pay-content {
  display: flex;
  flex-direction: column;
  gap: 36px;
}
.donation-pay-modal .modal-body .donation-modal-container .donation-modal-content .pay .pay-content .payment {
  display: flex;
  flex-direction: column;
  gap: 36px;
}
.donation-pay-modal .modal-body .donation-modal-container .donation-modal-content .pay .pay-content .payment p {
  font-family: "Noto Sans TC", sans-serif;
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 160%;
}
.donation-pay-modal .modal-body .donation-modal-container .donation-modal-content .pay .pay-content .payment .payment-icons {
  display: flex;
  gap: 2.5%;
}
.donation-pay-modal .modal-body .donation-modal-container .donation-modal-content .pay .pay-content .payment .payment-icons img {
  width: 18%;
}
.donation-pay-modal .modal-body .donation-modal-container .donation-modal-content .pay .pay-content .card-input {
  display: flex;
  flex-direction: column;
}
.donation-pay-modal .modal-body .donation-modal-container .donation-modal-content .pay .pay-content .card-input label {
  font-family: "Noto Sans TC", sans-serif;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 160%;
  color: #515151;
  margin: 0;
}
.donation-pay-modal .modal-body .donation-modal-container .donation-modal-content .pay .pay-content .card-info {
  display: flex;
  justify-content: space-between;
  gap: 5%;
}
.donation-pay-modal .modal-body .donation-modal-container .donation-modal-content .pay .pay-content .card-info .card-input {
  width: 45%;
  flex: 1;
}
.donation-pay-modal .modal-body .donation-modal-container .donation-modal-content .info {
  display: flex;
  flex-direction: column;
}
.donation-pay-modal .modal-body .donation-modal-container .donation-modal-content .info .info-content {
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: space-between;
  flex: 1;
}
.donation-pay-modal .modal-body .donation-modal-container .donation-modal-content .info .info-content .donation-project {
  flex: 1;
  height: fill;
  border-bottom: 1px solid #00A199;
  gap: 8px;
}
.donation-pay-modal .modal-body .donation-modal-container .donation-modal-content .info .info-content .donation-project .project {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.donation-pay-modal .modal-body .donation-modal-container .donation-modal-content .info .info-content .total {
  display: flex;
  justify-content: space-between;
}
.donation-pay-modal .modal-body .donation-modal-container .donation-modal-content .info .info-content .total h3 {
  color: #14C3BB;
}
.donation-pay-modal .modal-body .donation-modal-container .donation-modal-content .info .info-content .cancel-donation {
  background: none;
  color: #F4CA80;
  padding: 0;
}
.donation-pay-modal .modal-body .donation-modal-container .donation-modal-content .info .info-content .cancel-donation:hover {
  color: rgba(81, 81, 81, 0.8);
}
.donation-pay-modal .modal-body .donation-modal-container .donation-modal-content .info .info-content .cancel-donation:focus {
  box-shadow: none;
}
.donation-pay-modal .modal-body .donation-modal-container .donation-modal-content .info .info-content .actions {
  display: flex;
  gap: 16px;
}
.donation-pay-modal .modal-body .donation-modal-container .donation-modal-content .info .info-content .actions button {
  flex: 1;
}

@media (max-width: 992px) {
  .donation-pay-modal .modal-content {
    height: auto;
    overflow: scroll;
    max-height: none;
  }
  .donation-pay-modal .modal-content .modal-body {
    background: #FCF9E9;
  }
  .donation-pay-modal .modal-content .modal-body .donation-modal-container .donation-modal-header h3 {
    font-family: "Noto Sans TC", sans-serif;
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 160%;
  }
  .donation-pay-modal .modal-content .modal-body .donation-modal-container .donation-modal-content {
    flex-direction: column;
    border-radius: 32px;
  }
  .donation-pay-modal .modal-content .modal-body .donation-modal-container .donation-modal-content .donation-modal-content-block {
    width: 100%;
    gap: 20px;
  }
  .donation-pay-modal .modal-content .modal-body .donation-modal-container .donation-modal-content .donation-modal-content-block .title {
    font-family: "Noto Sans TC", sans-serif;
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 160%;
  }
  .donation-pay-modal .modal-content .modal-body .donation-modal-container .donation-modal-content .pay .pay-content {
    gap: 20px;
  }
  .donation-pay-modal .modal-content .modal-body .donation-modal-container .donation-modal-content .pay .pay-content .payment {
    gap: 20px;
  }
  .donation-pay-modal .modal-content .modal-body .donation-modal-container .donation-modal-content .pay .pay-content .payment p {
    font-family: "Noto Sans TC", sans-serif;
    font-weight: 700;
    font-size: 1rem;
    line-height: 160%;
  }
  .donation-pay-modal .modal-content .modal-body .donation-modal-container .donation-modal-content .pay .pay-content .card-input {
    gap: 16px;
  }
  .donation-pay-modal .modal-content .modal-body .donation-modal-container .donation-modal-content .pay .pay-content .card-input label {
    font-family: "Noto Sans TC", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 160%;
  }
  .donation-pay-modal .modal-content .modal-body .donation-modal-container .donation-modal-content .info {
    height: 500px;
  }
  .donation-pay-modal .modal-content .modal-body .donation-modal-container .donation-modal-content .info .info-content {
    gap: 20px;
  }
  .donation-pay-modal .modal-content .modal-body .donation-modal-container .donation-modal-content .info .info-content .donation-project {
    border-bottom: 1px solid #00A199;
    overflow: scroll;
  }
  .donation-pay-modal .modal-content .modal-body .donation-modal-container .donation-modal-content .info .info-content .donation-project .project h5 {
    font-family: "Noto Sans TC", sans-serif;
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 160%;
  }
  .donation-pay-modal .modal-content .modal-body .donation-modal-container .donation-modal-content .info .info-content .donation-project .project p {
    font-family: "Noto Sans TC", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 160%;
  }
  .donation-pay-modal .modal-content .modal-body .donation-modal-container .donation-modal-content .info .info-content .total h3 {
    font-family: "Noto Sans TC", sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 160%;
  }
  .donation-pay-modal .modal-content .modal-body .donation-modal-container .donation-modal-content .info .info-content .actions {
    flex-direction: column;
  }
}
.banner {
  background: url(../img/HeaderBackground.png) no-repeat;
  background-position: top center;
  background-size: cover;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  height: 100vh;
}
.banner .header-menu {
  background: #FFFFFF;
  border-radius: 100px;
  width: 62.5%;
  max-width: 1400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.2% 2%;
  box-shadow: 6px 8px #FFDC9E;
  z-index: 2;
  position: absolute;
  top: 40px;
}
.banner .header-menu::before {
  content: "";
  width: 2vw;
  height: 40px;
  position: absolute;
  top: -27px;
  left: 30px;
  background: #FFFFFF;
  z-index: -1;
  transform: rotate(-30deg);
  border-radius: 2px;
  border-right: 6px solid #FFDC9E;
  clip-path: polygon(100% 0, 100% 100%, 0 63%);
}
.banner .header-menu::after {
  content: "";
  width: 2vw;
  height: 40px;
  position: absolute;
  top: -27px;
  left: 80px;
  background: #FFFFFF;
  z-index: -1;
  transform: rotate(-30deg);
  border-radius: 2px;
  border-right: 6px solid #FFDC9E;
  clip-path: polygon(100% 0, 100% 100%, 0 63%);
}
.banner .header-menu .content-new {
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 80px;
}
.banner .header-menu .content-new .navbar {
  width: 100%;
}
.banner .header-menu .content-new .navbar .logo {
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner .header-menu .content-new .navbar .logo h1 {
  font-family: "Gaegu", sans-serif;
  font-weight: 400;
  font-size: 2.5rem;
  line-height: 160%;
  color: #00A199;
}
.banner .header-menu .content-new .navbar .menu {
  background: rgba(255, 255, 255, 0.8);
  padding: 0 5%;
  transform: translateY(-5px);
}
.banner .header-menu .content-new .navbar .menu .menu-nav {
  display: flex;
  justify-content: end;
  gap: 5%;
  flex: 1;
}
.banner .header-menu .content-new .navbar .menu .menu-nav li a {
  color: #00A199;
  font-family: "Noto Sans TC", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  line-height: 160%;
}
.banner .header-menu .content-new .navbar .menu .menu-social {
  display: flex;
}
.banner .header-menu .content-new .navbar .navbar-toggler {
  border: none;
}
.banner .container {
  color: #00A199;
  flex: 1;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
}
.banner .container::before {
  content: "";
  background: url(../img/HeaderBackground-cat.png) no-repeat;
  background-position: center;
  background-size: contain;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 100px;
  z-index: 0;
}
.banner .container .text {
  z-index: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.banner .container .text .slogan {
  display: flex;
  justify-content: space-between;
  gap: 16px;
  max-width: 1400px;
  white-space: nowrap;
  flex-wrap: wrap;
}
.banner .container .chips {
  display: flex;
  position: absolute;
  flex-wrap: wrap;
  transition: 1.5s;
  bottom: 0;
}
.banner .container .chips .chip {
  border-radius: 40px;
  padding: 16px;
  height: fit-content;
  color: #00A199;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Noto Sans TC", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  line-height: 160%;
  position: absolute;
  bottom: 0;
  transition: 1s;
}
.banner .container .chips .chip2 {
  left: 11%;
  bottom: 80px;
}
.banner .container .chips .chip3 {
  left: 22%;
  bottom: 36px;
}
.banner .container .chips .chip4 {
  left: 35%;
}
.banner .container .chips .chip5 {
  left: 46%;
  bottom: 80px;
}
.banner .container .chips .chip6 {
  left: 60%;
  bottom: 36px;
}
.banner .container .chips .chip7 {
  left: 75%;
  bottom: 50px;
}

@media (max-width: 992px) {
  .banner {
    height: 100vh;
  }
  .banner .header-menu {
    width: 90%;
    max-width: 1200px;
    padding: 0 24px;
  }
  .banner .container .text {
    justify-content: center;
    flex: 1;
  }
  .banner .container .text .slogan {
    flex-direction: column;
    justify-content: space-between;
    gap: 0;
  }
  .banner .container .text .slogan h1 {
    font-size: 3rem;
  }
  .banner .container .chips {
    height: 150px;
  }
}
.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 320px;
}
.intro .container {
  gap: 124px;
  position: relative;
}
.intro .container .text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.intro .container .text .intro-text {
  text-align: center;
}
.intro .container .text .intro-text span {
  color: #00A199;
}
.intro .container .text .intro-title {
  text-align: center;
  color: #00A199;
}
.intro .container .text img {
  width: 100%;
}

@media (max-width: 992px) {
  .intro {
    padding-bottom: 0;
  }
  .intro .container .text .intro-text p {
    font-family: "Noto Sans TC", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 160%;
  }
  .intro .container .text .intro-title {
    font-family: "Noto Sans TC", sans-serif;
    font-weight: 700;
    font-size: 1.75rem;
    line-height: 150%;
  }
}
.vote-box-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.vote-box-wrap .vote-box {
  width: 25%;
  min-width: 250px;
  height: 700px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 15px solid #FFDC9E;
  position: absolute;
  bottom: -70px;
  z-index: 2;
  overflow: hidden;
}
.vote-box-wrap .vote-box .vote {
  transition: 1s;
  width: 100%;
}

@media (max-width: 768px) {
  .vote-box-wrap .vote-box {
    width: 50%;
  }
}
.activity {
  background: #00A199;
  border-radius: 20vw 20vw 0 0;
}
.activity::before {
  content: "";
  position: absolute;
  background: #00A199;
  width: 25vw;
  height: 25vw;
  border-radius: 2vw;
  transform: rotate(20deg) skewY(45deg);
  top: 0;
  left: 5%;
  z-index: 0;
}
.activity::after {
  content: "";
  position: absolute;
  background: #00A199;
  width: 25vw;
  height: 25vw;
  border-radius: 2vw;
  transform: rotate(20deg) skewY(45deg);
  top: 0;
  right: 1%;
  z-index: 0;
}
.activity .container {
  gap: 48px;
  position: relative;
  z-index: 1;
}
.activity .container .title {
  margin-top: 48px;
  color: #FCF9E9;
  text-align: center;
}
.activity .container .content {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.activity .container .content .imgs {
  display: flex;
  flex-direction: column;
  padding: 32px;
  gap: 64px;
  overflow: auto;
  height: 40vw;
  width: 50%;
}
.activity .container .content .imgs::-webkit-scrollbar {
  display: none;
}
.activity .container .content .imgs img {
  width: 100%;
  object-fit: scale-down;
}
.activity .container .content .scroll-bar {
  width: 2px;
  background: #FCF9E9;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.activity .container .content .timeline {
  border-left: 2px solid #FCF9E9;
  display: flex;
  flex: 1;
  padding-top: 24px;
}
.activity .container .content .timeline .activities {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: -25px;
}
.activity .container .content .timeline .activities .item {
  display: flex;
  gap: 18px;
  transition: 0.5s;
}
.activity .container .content .timeline .activities .item .icon {
  background: #00A199;
  height: 52px;
}
.activity .container .content .timeline .activities .item .text * {
  transition: 0.5s;
}
.activity .container .content .timeline .activities .item .text .date {
  color: #FFDC9E;
  margin-bottom: 12px;
  transition: 0.5s;
}
.activity .container .content .timeline .activities .item .text .act-title {
  color: #FFDC9E;
}
.activity .container .content .timeline .activities .item .text .text-content {
  color: #FCF9E9;
  font-family: "Noto Sans TC", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 160%;
}
.activity .container .content .timeline .activities .item.select .text .date {
  font-family: "Noto Sans TC", sans-serif;
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 150%;
}
.activity .container .content .timeline .activities .item.select .text .act-title {
  font-family: "Noto Sans TC", sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 160%;
}
.activity .container .content .timeline .activities .item.select .text .text-content {
  font-family: "Noto Sans TC", sans-serif;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 160%;
}

@media (max-width: 992px) {
  .activity {
    border-radius: 10vw 10vw 0 0;
  }
  .activity .container .title {
    margin-top: 72px;
  }
  .activity .container .content {
    flex-direction: column;
    align-items: center;
  }
  .activity .container .content .imgs {
    flex-direction: row;
    padding: 8px;
    height: 50vh;
    width: 100%;
  }
  .activity .container .content .timeline {
    flex-direction: column;
    border: none;
  }
  .activity .container .content .timeline .activities {
    padding: 16px;
  }
  .activity .container .content .timeline .activities .item .icon {
    display: none;
  }
  .activity .container .content .timeline .activities .item .text .date {
    font-family: "Noto Sans TC", sans-serif;
    font-weight: 700;
    font-size: 1.75rem;
    line-height: 150%;
  }
  .activity .container .content .timeline .activities .item .text .act-title {
    font-family: "Noto Sans TC", sans-serif;
    font-weight: 700;
    font-size: 1rem;
    line-height: 160%;
  }
  .activity .container .content .timeline .activities .item.select .text .date {
    font-family: "Noto Sans TC", sans-serif;
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 150%;
  }
  .activity .container .content .timeline .activities .item.select .text .act-title {
    font-family: "Noto Sans TC", sans-serif;
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 160%;
  }
  .activity .container .content .timeline .activities .item.select .text .text-content {
    font-family: "Noto Sans TC", sans-serif;
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 160%;
  }
}
.policy {
  background: #00A199;
  border-radius: 0 0 20vw 20vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 1s;
  overflow: hidden;
}
.policy * {
  transition: 0.5s;
}
.policy .container .content {
  display: flex;
  flex-wrap: wrap;
  position: relative;
}
.policy .container .content .policy-text.display {
  opacity: 1;
  transform: translateX(0);
}
.policy .container .content .policy-text {
  display: flex;
  flex-direction: column;
  gap: 80px;
  flex: 1;
  opacity: 0;
  transform: translateX(-100px);
  transition: 1s;
  padding-bottom: 32px;
}
.policy .container .content .policy-text .subtitle {
  text-align: left;
}
.policy .container .content .policy-text .num {
  font-size: 20rem;
  color: rgba(255, 255, 255, 0.2);
  font-family: "Noto Sans TC", sans-serif;
  font-weight: 700;
  position: absolute;
  top: -80px;
  left: 0px;
}
.policy .container .content .policy-text .header {
  color: #FFDC9E;
  position: relative;
}
.policy .container .content .policy-text .policy-text-content ul {
  display: flex;
  flex-direction: column;
  gap: 60px;
}
.policy .container .content .policy-text .policy-text-content ul li h5,
.policy .container .content .policy-text .policy-text-content ul li p {
  color: #FFFFFF;
}
.policy .container .content .policy-img {
  display: flex;
  flex-direction: column;
  height: 40vw;
  overflow: auto;
  padding: 240px 0;
  width: 40vw;
  scroll-behavior: smooth;
}
.policy .container .content .policy-img::-webkit-scrollbar {
  display: none;
}
.policy .container .content .policy-img img {
  width: 100%;
  object-fit: scale-down;
  filter: contrast(50%);
  transform: translateX(120px);
  transition: 0.5s;
  scroll-snap-align: center;
  scroll-snap-align: center;
}
.policy .container .content .policy-img img.select {
  filter: none;
  transform: translateX(0);
}

@media (max-width: 992px) {
  .policy {
    border-radius: 0 0 10vw 10vw;
  }
  .policy .container .content {
    flex-direction: column;
  }
  .policy .container .content .policy-text {
    width: 100%;
  }
  .policy .container .content .policy-text .num {
    font-size: 10rem;
    top: -50px;
  }
  .policy .container .content .policy-text .policy-title {
    font-family: "Noto Sans TC", sans-serif;
    font-weight: 700;
    font-size: 1.75rem;
    line-height: 150%;
  }
  .policy .container .content .policy-text .policy-subtitle {
    font-family: "Noto Sans TC", sans-serif;
    font-weight: 700;
    font-size: 1rem;
    line-height: 160%;
  }
  .policy .container .content .policy-text .policy-text-content ul li h5 {
    font-family: "Noto Sans TC", sans-serif;
    font-weight: 700;
    font-size: 1rem;
    line-height: 160%;
  }
  .policy .container .content .policy-text .policy-text-content ul li p {
    font-family: "Noto Sans TC", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 160%;
  }
  .policy .container .content .policy-img {
    width: 100%;
    order: -1;
    height: 50vh;
    padding: 0;
    flex-direction: row;
    scroll-snap-type: x mandatory;
  }
  .policy .container .content .policy-img img {
    transform: none;
    filter: none;
    scroll-snap-align: center;
  }
}
.donation {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url(../img/donate-bg.png) no-repeat bottom center;
  margin: 120px 0;
}
.donation .container .header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 60px;
  gap: 20px;
}
.donation .container .header .title {
  text-align: center;
  color: #00A199;
}
.donation .container .header .subtitle {
  text-align: center;
  color: #14C3BB;
}
.donation .container .content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.donation .container .content .cards {
  display: flex;
  justify-content: center;
  margin-bottom: 120px;
  gap: 24px;
}
@media (max-width: 992px) {
  .donation .container .content .cards {
    flex-direction: column;
  }
}
.donation .container .content .cards .donation-card {
  min-width: 250px;
  max-width: 300px;
  background: #FFFFFF;
  border-radius: 20px;
  box-shadow: 6px 8px #FFDC9E;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 260px;
  padding: 32px 20px;
  color: #00A199;
}
.donation .container .content .cards .donation-card .card-header .title {
  text-align: center;
  margin-bottom: 16px;
}
.donation .container .content .cards .donation-card .card-header .amount {
  color: #00A199;
  text-align: center;
}
.donation .container .content .cards .donation-card .action {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.donation .container .content .cards .donation-card .action .people {
  font-family: "Noto Sans TC", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 160%;
  color: #00A199;
}
.donation .container .content .donate-total {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  width: 100%;
}
.donation .container .content .donate-total .title {
  color: #00A199;
}
.donation .container .content .donate-total .subtitle {
  color: #14C3BB;
}
.donation .container .content .donate-total .input {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
}
.donation .container .content .donate-total .input:hover .sign {
  color: #14C3BB;
}
.donation .container .content .donate-total .input .sign {
  color: #00A199;
  font-family: "Noto Sans TC", sans-serif;
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 160%;
  padding-left: 16px;
  margin-bottom: 4px;
  z-index: 2;
}
.donation .container .content .donate-total .input .money {
  border: none;
  background: none;
  border-bottom: 4px solid #00A199;
  font-family: "Noto Sans TC", sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 160%;
  color: #00A199;
  margin-left: -48px;
  padding: 16px;
  padding-left: 60px;
  width: 100%;
  max-width: 300px;
  position: relative;
  border-radius: 4px;
}
.donation .container .content .donate-total .input .money:hover {
  border-color: #14C3BB;
}
.donation .container .content .donate-total .input .money:focus {
  background: #E9FEFD;
  outline: none;
}
.donation .container .content .donate-total .input .money::selection {
  background: #F4CA80;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact .container .header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  margin-bottom: 40px;
}
.contact .container .header .title {
  color: #00A199;
}
.contact .container .header .subtitle {
  text-align: center;
}
.contact .container .content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact .container .content .form {
  width: 80%;
  display: flex;
  gap: 40px;
  margin-bottom: 40px;
  flex-wrap: wrap;
}
@media (max-width: 992px) {
  .contact .container .content .form {
    flex-direction: column;
  }
}
.contact .container .content .form .info {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 28px;
  align-items: stretch;
}
.contact .container .content .form .info .input {
  display: flex;
  flex-direction: column;
}
.contact .container .content .form .comment {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.contact .container .content .form .comment .comment-text {
  flex: 1;
}
.contact .container .content .send-comment {
  width: 400px;
  margin-bottom: 8px;
}
.contact .container .content p {
  color: #00A199;
  font-family: "Noto Sans TC", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 160%;
}
.contact .container .content .form-thank-modal .modal-body {
  background: #00A199 url(../img/Murr\ Lovely-green.svg) no-repeat center right;
}

.footer {
  background: #00A199;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer .container {
  padding: 60px 0;
}
.footer .container .content {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 80px;
}
.footer .container .content .footer-block .ul-title {
  color: #FFDC9E;
  margin-bottom: 8px;
}
.footer .container .content .footer-block ul {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.footer .container .content .footer-block ul li a {
  color: #FFFFFF;
  font-family: "Noto Sans TC", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 160%;
}
.footer .container .content .follow {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer .container .content .follow .ul .ul-title {
  color: #FFDC9E;
  margin-bottom: 32px;
}
.footer .container .content .follow .ul .follow-social {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.footer .container .content .follow .copy-right {
  display: block;
  color: #FFFFFF;
  font-family: "Noto Sans TC", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 160%;
}/*# sourceMappingURL=style.css.map */