@import "reset.scss";
@import "font.scss";
@import "color.scss";
html{
    height: 100vh;
    // overflow: auto;
}
body {
    background: $secdonary-tint;
    scroll-snap-type: proximity;
    scroll-snap-points-y: repeat(100vh);
    scroll-snap-type: y proximity;
    height: 100vh;
    overflow: scroll;
    scroll-behavior: smooth
}

h1 {
    @include headline;
}

h2 {
    @include headline-1
}

h3 {
    @include title;
}

h4 {
    @include title-1
}

h5 {
    @include subtitle
}

p {
    @include body-1($weight-R);
    color: $basic-black;
}

h6 {
    @include title-1;
    color: $primary-default;
}

@mixin shadow() {
    box-shadow: 6px 8px 0px 0px #FADCA8;
}

.block {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    scroll-snap-align: center;
    .container {

        width: 75%;
        max-width: 1440px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 32px;

        .header {

            .title,
            .subtitle {
                text-align: center;
            }
        }

        >* {
            width: 100%;
        }
    }
}

@media (max-width:992px) {
    .block {
        .container {
            width: 100%;
            max-width: none;
            padding: 16px;
        }

        .header {
            .title {
                @include body-1($weight-B)
            }

            .subtitle {
                @include body-2($weight-R)
            }
        }
    }

}

.name {
    display: flex;
    align-items: center;
    justify-content: center;
    color: $primary-default;
    gap: 16px;
    flex-wrap: wrap;

    .ch {
        @include headline-1;
    }

    .eng {
        @include gaegu(4.5rem);
    }


}

@media (max-width:1280px) {
    .name {
        flex-direction: column;
        gap: 0px;

        .ch {
            font-size: 40px;
        }

        .eng {
            font-size: 60px;
            line-height: 1;
        }
    }

}


input[type=button],
input[type=submit],
.btn {
    padding: 8px 32px;
    background: $primary-default;
    color: $basic-white;
    @include body-2($weight-B);
    border: none;
    border-radius: 8px;
    transition: 0.1s;
    cursor: pointer;

    &:hover {
        background: $primary-light;
    }

    &:focus {
        background: $primary-default;
        border: 1px solid $basic-white;
        box-shadow: 0 0 0 2px $primary-default;
    }
}

.btn.white {
    background: $basic-white;
    color: $primary-default;

    &:hover {
        background: $primary-light;
        // color: $basic-black;
    }

    &:focus {
        background: $primary-default;
        border: 1px solid $basic-white;
        box-shadow: 0 0 0 2px $primary-default;
        color: $basic-white;
    }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=text],
input[type=email],
textarea {
    padding: 10px;
    border: 1px solid #C9F1EF;
    background: $basic-white;
    border-radius: 4px;
    color: $primary-default;
    @include caption;

    &:hover {
        box-shadow: 0 0 0 1px $primary-default;

    }

    &:focus {
        background: #E9FEFD;
        outline: 1px solid $primary-default;
    }
}

label {
    color: $primary-default;
    margin-bottom: 12px;
    @include body-2($weight-R)
}



.confrim-modal {
    .modal-dialog {
        max-width: 600px;

        .modal-content {
            border: none;
            border-radius: 60px;

            .modal-body {
                background: $primary-default;
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 36px;
                padding: 80px 180px;
                border-radius: 60px;

                .text {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 10px;

                    h4 {
                        color: $basic-white;
                    }

                    p {
                        @include body-2($weight-B);
                        color: $secdonary-dark;
                    }
                }

            }
        }
    }


}

@media (max-width:992px) {
    .confrim-modal {
        .modal-dialog {

            .modal-content {

                .modal-body {

                    padding: 60px;

                }
            }
        }


    }

}

.donation-pay-modal {
    .modal-body {
        background: $secdonary-tint url(../img/Murr\ Lovely.svg) no-repeat center right;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .donation-modal-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 80%;
            max-width: 1280px;
            gap: 60px;

            .donation-modal-header {
                display: flex;
                position: relative;

                h3 {
                    color: $primary-default;
                }
            }

            .donation-modal-content {

                background: $basic-white;
                border-radius: 60px;
                width: 100%;
                padding: 1.5% 3%;
                @include shadow();
                display: flex;
                flex-wrap: wrap;

                .donation-modal-content-block {
                    width: 50%;

                    padding: 3.9%;
                    display: flex;
                    flex-direction: column;
                    gap: 36px;

                    .title {
                        padding-bottom: 8px;
                        border-bottom: 1px solid $primary-default;
                        color: $primary-default;
                    }
                }

                .pay {
                    .pay-content {
                        display: flex;
                        flex-direction: column;
                        gap: 36px;

                        .payment {
                            p {
                                @include body-1($weight-B)
                            }

                            display: flex;
                            flex-direction: column;
                            gap: 36px;

                            .payment-icons {
                                display: flex;
                                gap: 2.5%;

                                img {
                                    width: 18%;
                                }
                            }
                        }

                        .card-input {
                            display: flex;
                            flex-direction: column;

                            label {
                                @include body-1($weight-R);
                                color: $basic-black;
                                margin: 0;
                            }
                        }

                        .card-info {
                            display: flex;
                            justify-content: space-between;
                            gap: 5%;

                            .card-input {
                                width: 45%;
                                flex: 1;

                            }

                        }
                    }

                }

                .info {

                    display: flex;
                    flex-direction: column;

                    // align-items: center;
                    // flex: 1;
                    .info-content {

                        display: flex;
                        flex-direction: column;
                        gap: 24px;
                        justify-content: space-between;
                        flex: 1;

                        .donation-project {
                            flex: 1;
                            height: fill;
                            border-bottom: 1px solid $primary-default;
                            gap: 8px;

                            .project {
                                display: flex;
                                align-items: center;
                                justify-content: space-between;

                            }
                        }

                        .total {
                            display: flex;
                            justify-content: space-between;

                            h3 {
                                color: $primary-light;
                            }
                        }

                        .cancel-donation {
                            background: none;
                            color: $secdonary-dark;
                            padding: 0;

                            &:hover {
                                color: rgba($basic-black, 0.8);
                            }

                            &:focus {
                                box-shadow: none;

                            }
                        }

                        .actions {
                            display: flex;
                            gap: 16px;

                            button {
                                flex: 1;
                            }
                        }

                    }
                }
            }
        }

    }

}

@media (max-width:992px) {
    .donation-pay-modal {
        .modal-content {
            height: auto;
            overflow: scroll;
            max-height: none;

            .modal-body {
                background: $secdonary-tint;

                .donation-modal-container {

                    .donation-modal-header {

                        h3 {
                            @include body-1($weight-B)
                        }
                    }

                    .donation-modal-content {
                        flex-direction: column;
                        border-radius: 32px;

                        .donation-modal-content-block {
                            width: 100%;
                            gap: 20px;

                            .title {
                                @include body-1($weight-B)
                            }
                        }

                        .pay {
                            .pay-content {
                                gap: 20px;

                                .payment {
                                    p {
                                        @include body-2($weight-B)
                                    }

                                    gap: 20px;

                                }

                                .card-input {
                                    gap: 16px;

                                    label {
                                        @include body-2($weight-R);

                                    }
                                }
                            }

                        }

                        .info {
                            height: 500px;

                            .info-content {

                                gap: 20px;

                                .donation-project {
                                    border-bottom: 1px solid $primary-default;
                                    overflow: scroll;

                                    .project {
                                        h5 {
                                            @include body-1($weight-B)
                                        }

                                        p {
                                            @include body-2($weight-R)
                                        }

                                    }
                                }

                                .total {

                                    h3 {

                                        @include subtitle
                                    }
                                }

                                .actions {
                                    flex-direction: column;

                                }

                            }
                        }
                    }
                }

            }
        }


    }
}



.banner {

    background: url(../img/HeaderBackground.png) no-repeat;
    background-position: top center;
    background-size: cover;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    height: 100vh;
    // border: 1px solid #000;

    .header-menu {
        background: $basic-white;
        border-radius: 100px;
        width: 62.5%;
        max-width: 1400px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0.2% 2%;
        box-shadow: 6px 8px $secdonary-default ;
        z-index: 2;
        transition: 0.5s;
        // border: 1px solid #000;
        position: absolute;
        top: 40px;
       

        &:after{
            content:"";
            position: absolute;
            width: 100%;
            height: 16px;
            top: -16px;
            left: 30px;
            background: url(../img/header-bg.png) no-repeat;
        }

        .content-new {
            width: 100%;
            display: flex;
            justify-content: space-between;

            .navbar {
                width: 100%;

                .logo {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    h1 {
                        @include gaegu(2.5rem);
                        color: $primary-default;
                    }
                }

                .menu {
                    background: rgba($basic-white,0.8);
                    padding: 0 5%;

                    .menu-nav {
                        display: flex;
                        justify-content: end;
                        gap: 5%;
                        flex: 1;
                        li {
                            a {
                                color: $primary-default;
                                @include body-2($weight-B);
                                white-space: nowrap;
                            }
                        }
                    }

                    .menu-social {
                        display: flex;
                    }
                }
                .navbar-toggler {
                    border: none;
                }
            }
           


        }
    }

    .container {

        color: $primary-default;
        flex: 1;

        width: 100%;
        position: relative;
        display: flex;
        justify-content: center;

        &::before {
            content: "";
            background: url(../img/HeaderBackground-cat.png) no-repeat;
            background-position: center;
            background-size: contain;
            width: 90%;
            height: 100%;
            position: absolute;
            top: 100px;
            z-index: 0;
        }

        .text {
            z-index: 1;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            .slogan {
                transition: 0.5s;
                display: flex;
                justify-content: space-between;
                // gap: 128px;
                gap: 16px;
                // max-width: 1400px;
                white-space: nowrap;
                // flex-wrap: wrap;
                h1{
                    font-size: 8vw;
                }

            }

        }

        .chips {

            display: flex;
            position: absolute;
            // bottom: 720px;
            flex-wrap: wrap;
            transition: 1.5s;
            bottom: 0;

            .chip {
                // width: 300px;
                border-radius: 40px;
                padding: 16px;
                height: fit-content;

                color: $primary-default;
                display: flex;
                justify-content: center;
                align-items: center;
                @include body-2($weight-B);
                position: absolute;
                bottom: 0;
                transition: 1s;
            }

            

            .chip1{
                transform: rotate(2deg);
            }
            .chip2 {
                transform: rotate(-10deg);
                left: 11%;
                bottom: 80px;
            }

            .chip3 {
                transform: rotate(-20deg);
                left: 22%;
                bottom: 36px;
            }

            .chip4 {
                transform: rotate(7deg);
                left: 35%;
            }

            .chip5 {
                transform: rotate(-10deg);
                left: 46%;
                bottom: 80px;
            }

            .chip6 {
                transform: rotate(15deg);
                left: 60%;
                bottom: 36px;
            }

            .chip7 {
                transform: rotate(5deg);
                left: 75%;
                bottom: 50px;
            }
        }
        .chips.chips-mobile{
            flex-direction: column;
            flex-wrap: nowrap;
            align-items: center;
            // background: #000;
            height: auto;
            .chip{
                position: relative;
            }
            .chip8{
                transform: rotate(2deg);
                background: #ECD0FC;
            }
            .chip9{
                transform: rotate(-3deg);
                background: #89FCC8;
            }
            .chip10{
                transform: rotate(4deg);
                background: #F5FE68;
            }
        }
    }

}

@media (max-width:768px) {
    .banner {
        height: 100vh;

        .header-menu {
            width: 90%;
            max-width: 1200px;
            padding: 0 24px;
            border-radius: 50px;
        }
        &:after{


        }

        .container {

            .text {
                justify-content: center;
                flex: 1;

                .slogan {
                    flex-direction: column;
                    justify-content: space-between;
                    gap: 0;

                    h1 {
                        font-size: 3rem;
                    }
                }

            }

            .chips {
                height: 150px;
            }

        }
    }





}

.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    .container {

        gap: 124px;
        position: relative;

        .text {

            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 20px;

            .intro-text {
                text-align: center;

                span {
                    color: $primary-default;
                }
            }

            .intro-title {
                text-align: center;
                color: $primary-default;
            }

            img {
                width: 100%;
            }

        }


    }
}

@media (max-width:992px) {
    .intro {
        padding-bottom: 0;

        .container {

            .text {

                .intro-text {
                    p {
                        @include body-2($weight-R)
                    }

                }

                .intro-title {
                    @include title-1()
                }


            }


        }
    }
}

.vote-box-wrap {
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;

    .vote-box {
        width: 25%;
        min-width: 250px;

        height: 700px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-bottom: 15px solid $secdonary-default;
        position: absolute;
        bottom: -70px;
        z-index: 2;
        overflow: hidden;

        .vote {
            transition: 1.5s;
            width: 100%;
        }
    }
}

@media (max-width:768px) {
    .vote-box-wrap {

        // width: 100%;
        .vote-box {
            width: 50%;
            
        }
    }

}

.activity {

    background: $primary-default;
    border-radius: 20vw 20vw 0 0;

    &::before {
        content: "";
        position: absolute;
        background: $primary-default;
        width: 25vw;
        height: 25vw;
        // border: 1px solid #000;
        border-radius: 2vw;
        transform: rotate(20deg) skewY(45deg);
        top: 0;
        left: 5%;
        z-index: 0;
    }

    &::after {
        content: "";
        position: absolute;
        background: $primary-default;
        width: 25vw;
        height: 25vw;
        // border: 1px solid #000;
        border-radius: 2vw;
        transform: rotate(20deg) skewY(45deg);
        top: 0;
        right: 1%;
        z-index: 0;
    }

    .container {
        gap: 48px;
        position: relative;
        z-index: 1;

        .title {
            margin-top: 48px;
            color: $secdonary-tint;
            text-align: center;
        }

        .content {
            // background: #000;
            width: 100%;
            display: flex;


            // align-items: center;
            // gap: 50px;
            // overflow: hidden;
            flex-wrap: wrap;

            .imgs {
                display: flex;
                flex-direction: column;
                padding: 32px;
                gap: 64px;
                overflow: auto;
                height: 40vw;
                width: 50%;

                // border: 1px solid #000;
                &::-webkit-scrollbar {
                    display: none;
                }

                img {
                    width: 100%;
                    object-fit: scale-down;
                }

            }

            .scroll-bar {
                width: 2px;
                background: $secdonary-tint;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;

            }

            .timeline {
                border-left: 2px solid $secdonary-tint;
                display: flex;
                // border: 1px solid #000;
                flex: 1;
                padding-top: 24px;

                .activities {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    // border: 1px solid #000;
                    margin-left: -25px;

                    .item {
                        display: flex;
                        gap: 18px;
                        // background: #000;
                        transition: 0.5s;

                        .icon {
                            background: $primary-default;
                            // border: 1px solid #000;
                            height: 52px;
                        }

                        .text {
                            * {
                                transition: 0.5s;
                            }

                            .date {
                                color: $secdonary-default;
                                margin-bottom: 12px;
                                transition: 0.5s;
                            }

                            .act-title {
                                color: $secdonary-default;
                            }

                            .text-content {
                                color: $secdonary-tint;
                                @include body-2($weight-R)
                            }
                        }
                    }

                    .item.select {
                        .text {
                            .date {
                                @include title;
                            }

                            .act-title {
                                @include subtitle;
                            }

                            .text-content {
                                @include body-1($weight-R);
                            }
                        }
                    }
                }

            }
        }
    }

}

@media (max-width:992px) {
    .activity {
        border-radius: 10vw 10vw 0 0;

        .container {
            .title {
                margin-top: 72px;
            }

            .content-mobile{
                // background: #000;
                .activity-card{
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    gap: 16px;
                    .img{
                        // border: 1px solid #000;
                        img{
                            width: 100%;
                        }
                    }
                    .text{
                        
                        * {
                            transition: 0.5s;
                        }

                        .date {
                            color: $secdonary-default;
                            margin-bottom: 12px;
                            transition: 0.5s;
                        }

                        .act-title {
                            color: $secdonary-default;
                        }

                        .text-content {
                            color: $secdonary-tint;
                            @include body-2($weight-R)
                        }
                    }
                }
            }
        }
    }

}

.policy {
    background: $primary-default;
    border-radius: 0 0 20vw 20vw;
    // height: 960px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 1s;
    overflow: hidden;

    * {
        transition: 0.5s;
    }

    .container {
        .content {
            display: flex;
            align-items: center;
            // justify-content: space-between;
            flex-wrap: wrap;
            position: relative;
            // overflow: hidden;
            .policy-text.display {
                opacity: 1;
                transform: translateX(0);

            }

            .policy-text {

                display: flex;
                flex-direction: column;
                gap: 80px;
                flex: 1;
                // min-width: 500px;
                opacity: 0;
                transform: translateX(-100px);
                transition: 1s;
                // border: 1px solid #000;
                padding-bottom: 32px;

                .subtitle {
                    text-align: left;
                }

                .num {

                    font-size: 20rem;
                    color: rgba(2552, 255, 255, 0.2);
                    font-family: $sans;
                    font-weight: 700;
                    position: absolute;
                    top: -80px;
                    left: 0px;

                }

                .header {
                    color: $secdonary-default;
                    position: relative;

                }

                .policy-text-content {
                    ul {
                        display: flex;
                        flex-direction: column;
                        gap: 60px;

                        li {

                            h5,
                            p {
                                color: $basic-white;
                            }

                        }
                    }
                }
            }

            .policy-img {
                display: flex;
                flex-direction: column;
                height:40vw;
                overflow: auto;
                padding: 80px 0;
                width: 40vw;
                scroll-behavior: smooth;
                overflow-x: hidden;
                &::-webkit-scrollbar {
                    display: none;
                }


                img {
                    width: 100%;
                    object-fit: scale-down;
                    filter: contrast(50%);
                    transform: translateX(120px);
                    transition: 0.5s;
                    scroll-snap-align: center;
                    scroll-snap-align: center;
                }

                img.select {
                    filter: none;
                    transform: translateX(0);
                }

            }
        }
       
    }
}

@media (max-width:992px) {
    .policy {
        border-radius: 0 0 10vw 10vw;

        .container {
            .content {
                flex-direction: column;

                .policy-text {
                    width: 100%;

                    // height: 70vh;
                    .num {
                        font-size: 10rem;
                        top: -50px;
                    }

                    .policy-title {
                        @include title-1()
                    }

                    .policy-subtitle {
                        @include body-2($weight-B)
                    }

                    .policy-text-content {
                        ul {

                            li {

                                h5 {
                                    @include body-2($weight-B)
                                }

                                p {
                                    @include body-2($weight-R)
                                }

                            }
                        }
                    }
                }


                .policy-img {
                    width: 100%;
                    order: -1;
                    height: 50vh;
                    padding: 0;
                    flex-direction: row;
                    scroll-snap-type: x mandatory;
                    overflow-x: scroll;

                    img {
                        transform: none;
                        filter: none;
                        scroll-snap-align: center;
                    }



                }
            }
        }
    }

}

.donation {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url(../img/donate-bg.png) no-repeat bottom center;
    margin: 120px 0;

    .container {

        // padding: 120px 0;
        .header {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 60px;
            gap: 20px;

            .title {
                text-align: center;
                color: $primary-default;
            }

            .subtitle {
                text-align: center;
                color: $primary-light;
            }
        }

        .content {
            // border: 1px solid #000;
            display: flex;
            flex-direction: column;
            align-items: center;

            .cards {
                display: flex;
                justify-content: center;
                // width: 60%;
                // border: 1px solid #000;
                margin-bottom: 120px;
                gap: 24px;

                // flex-wrap: wrap;
                @media (max-width:992px) {
                    flex-direction: column;
                }

                .donation-card {
                    min-width: 250px;
                    max-width: 300px;
                    // flex: 0.5;
                    // border: 1px solid #000;
                    background: $basic-white;
                    border-radius: 20px;
                    box-shadow: 6px 8px $secdonary-default ;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: space-between;
                    height: 260px;
                    padding: 32px 20px;
                    color: $primary-default;

                    .card-header {
                        .title {
                            text-align: center;
                            margin-bottom: 16px;
                        }

                        .amount {
                            color: $primary-default;
                            text-align: center;
                        }
                    }

                    .action {
                        display: flex;
                        flex-direction: column;
                        align-items: center;

                        .people {
                            @include body-2($weight-R);
                            color: $primary-default;
                        }

                    }
                }
            }

            .donate-total {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 16px;
                width: 100%;

                // border: 1px solid #000;;
                .title {
                    color: $primary-default;
                }

                .subtitle {
                    color: $primary-light;
                }

                .input {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    // border: 1px solid #000;
                    width: 80%;

                    &:hover .sign {
                        color: $primary-light;
                    }

                    .sign {
                        color: $primary-default;
                        @include body-1($weight-B);
                        padding-left: 16px;
                        margin-bottom: 4px;
                        z-index: 2;

                    }

                    .money {
                        border: none;
                        background: none;
                        // box-shadow: 0 4px 0 $primary-default;
                        border-bottom: 4px solid $primary-default;
                        @include subtitle;
                        color: $primary-default;
                        margin-left: -48px;
                        padding: 16px;
                        padding-left: 60px;
                        width: 100%;
                        max-width: 300px;
                        position: relative;
                        border-radius: 4px;

                        &:hover {
                            border-color: $primary-light;
                        }

                        &:focus {
                            background: #E9FEFD;
                            outline: none;
                        }

                        &::selection {
                            background: $secdonary-dark;
                        }

                    }
                }

            }
        }

    }
}

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;

    .container {

        // padding: 100px 0;
        .header {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 32px;
            margin-bottom: 40px;

            .title {
                color: $primary-default;
            }

            .subtitle {
                text-align: center;
            }
        }

        .content {
            display: flex;
            flex-direction: column;
            align-items: center;

            .form {
                width: 80%;
                display: flex;
                // justify-content: space-between;
                gap: 40px;
                margin-bottom: 40px;
                flex-wrap: wrap;

                // border: 1px solid #000;
                @media (max-width:992px) {
                    flex-direction: column;
                }

                .info {
                    display: flex;
                    flex-direction: column;
                    flex: 1;
                    // min-width: 420px;
                    gap: 28px;
                    align-items: stretch;

                    // border: 1px solid #000;
                    .input {
                        // width: 100%;
                        display: flex;
                        flex-direction: column;
                    }

                }

                .comment {
                    display: flex;
                    flex-direction: column;
                    flex: 1;

                    // border: 1px solid #000;
                    .comment-text {
                        flex: 1;
                    }

                }
            }

            .send-comment {
                width: 400px;
                margin-bottom: 8px;
            }

            p {
                color: $primary-default;
                @include body-2($weight-R)
            }

            .form-thank-modal {
                .modal-body {
                    background: $primary-default url(../img/Murr\ Lovely-green.svg) no-repeat center right;
                    // background-position: center right;

                }
            }
        }
    }
}

.footer {
    background: $primary-default;
    display: flex;
    flex-direction: column;
    align-items: center;

    .container {
        padding: 60px 0;

        .content {
            width: 100%;
            display: flex;
            justify-content: center;
            gap: 80px;

            .footer-block {

                // border: 1px solid #000;
                .ul-title {
                    color: $secdonary-default;
                    margin-bottom: 8px;
                }

                ul {
                    display: flex;
                    flex-direction: column;
                    gap: 8px;

                    li {
                        a {
                            color: $basic-white;
                            @include body-2($weight-R)
                        }
                    }
                }

            }

            .follow {
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                .ul {

                    // border: 1px solid #000;
                    .ul-title {
                        color: $secdonary-default;
                        margin-bottom: 32px;
                    }

                    .follow-social {
                        display: flex;
                        flex-direction: row;
                        gap: 20px;
                    }
                }

                .copy-right {
                    display: block;
                    color: $basic-white;
                    @include body-2($weight-R);
                    // border: 1px solid #000;
                }
            }
        }
    }
}