html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: none;
}

div {
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans TC", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.6;
  font-weight: 600;
}

h1 {
  font-size: 3.5rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2.5rem;
}

h4 {
  font-size: 2rem;
}

h5 {
  font-size: 1.5rem;
}

h6 {
  font-size: 1.25rem;
}

p {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.4;
}

.lg {
  font-size: 1.25rem;
}

.md {
  font-size: 1.125rem;
}

.sm {
  font-size: 0.875rem;
}

.xs {
  font-size: 0.75rem;
}

@media (max-width: 768px) {
  h1, h2, h3, h4, h5, h6 {
    line-height: 1.2;
    font-weight: 600;
  }
  h1 {
    font-size: 2.5 rem;
  }
  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1.5rem;
  }
  h4 {
    font-size: 1.25rem;
  }
  h5 {
    font-size: 1.125rem;
  }
  h6 {
    font-size: 1rem;
  }
  p {
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.2;
  }
  .lg {
    font-size: 1.125rem;
  }
  .md {
    font-size: 1rem;
  }
  .sm {
    font-size: 0.75rem;
  }
  .xs {
    font-size: 0.6rem;
  }
}
body {
  background: #F5F5F5;
}

.fade-in, .hide {
  opacity: 0;
}

div {
  transition: 1s;
}

p, h1, h2, h3, h4, h5, h6 {
  transition: 0.5s;
}

.header {
  background: #262E49;
  height: 8vh;
  display: flex;
  align-items: center;
  padding-left: 47px;
  width: 100%;
}
.header .title {
  color: #FFFFFF;
}
@media (max-width: 960px) {
  .header {
    justify-content: center;
    padding-left: 0;
  }
}

.container {
  display: flex;
  flex-direction: column;
  padding: 24px;
  align-items: center;
}
.container .content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 92%;
  max-width: 1344px;
}
.container .content .filter {
  display: flex;
  gap: 20px;
}
.container .content .filter .row {
  display: flex;
  gap: 20px;
}
.container .content .filter select {
  padding: 4px 16px 4px 12px;
  border: 1px solid #E6E6E6;
  border-radius: 8px;
  position: relative;
}
.container .content .filter select::after {
  content: "123";
  background: url(../img/chevron-down.png);
  position: absolute;
  width: 24px;
  height: 24px;
  border: 1px solid #000;
  right: 2px;
}
.container .content .filter button {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #262E49;
  color: #FFFFFF;
  padding: 4px 12px;
  border-radius: 8px;
  gap: 8px;
  transition: 0.2s;
}
.container .content .filter button:hover {
  background: #525982;
}
.container .content .filter button:focus {
  background: #171C2C;
}
.container .content .filter button .icon svg path {
  stroke: #FFFFFF;
}
@media (max-width: 960px) {
  .container .content .filter {
    width: 100%;
  }
  .container .content .filter .tablet-col {
    flex: 1;
    flex-direction: column;
  }
  .container .content .filter .tablet-col .row {
    justify-content: space-between;
  }
  .container .content .filter .tablet-col .row select {
    width: 45%;
    gap: 0%;
  }
  .container .content .filter button p {
    display: none;
  }
}
.container .content .data {
  display: flex;
  flex-wrap: wrap;
  position: relative;
}
.container .content .data .card {
  background: #FFFFFF;
  padding: 2%;
  border-radius: 8px;
  height: fit-content;
  width: 20%;
  min-width: 250px;
  user-select: none;
}
.container .content .data .card .card-title {
  margin-bottom: 20px;
}
.container .content .data .card .card-content {
  display: flex;
  flex-direction: column;
  gap: 30px;
  transition: 0.2s;
}
.container .content .data .card .card-content .block {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.container .content .data .card .card-content .vote-rate .chart {
  display: flex;
  align-items: center;
  gap: 5%;
}
.container .content .data .card .card-content .vote-rate .chart .pie-chart {
  width: 50%;
  min-width: 120px;
}
@media (max-width: 960px) {
  .container .content .data .card .card-content .vote-rate .chart .pie-chart {
    max-width: 72px;
    min-width: 72px;
  }
}
.container .content .data .card .card-content .vote-rate .chart .title {
  display: flex;
  flex-direction: column;
}
.container .content .data .card .card-content .vote-rate .chart .title h6,
.container .content .data .card .card-content .vote-rate .chart .title p {
  text-align: center;
}
.container .content .data .card .card-content .vote-rate .text ul {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.container .content .data .card .card-content .vote-rate .text ul li {
  display: flex;
  align-items: center;
  gap: 8px;
}
.container .content .data .card .card-content .person .chart {
  width: 50%;
  min-width: 120px;
}
@media (max-width: 960px) {
  .container .content .data .card .card-content .person .chart {
    max-width: 72px;
    min-width: auto;
  }
}
@media (max-width: 960px) {
  .container .content .data .card {
    width: 100%;
    padding: 3.5%;
  }
  .container .content .data .card .card-title {
    margin-bottom: 1%;
  }
  .container .content .data .card .card-content .block {
    flex-direction: row;
    align-items: center;
    gap: 12px;
    justify-content: space-between;
  }
  .container .content .data .card .card-content .block .text {
    flex: 1;
  }
  .container .content .data .card .tablet-hide {
    height: 0;
    opacity: 0;
  }
}
.container .content .data .map {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45%;
  min-width: 380px;
  margin-left: 8%;
}
.container .content .data .map svg {
  width: 80%;
}
.container .content .data .map svg path {
  cursor: pointer;
  transition: 0.25s;
}
.container .content .data .map svg path:hover {
  filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.4));
}
.container .content .data .map svg path.green {
  fill: #84CB89;
}
.container .content .data .map svg path.green:hover {
  fill: #77B789;
}
.container .content .data .map svg path.purple {
  fill: #8894D8;
}
.container .content .data .map svg path.purple:hover {
  fill: #7A85C2;
}
.container .content .data .map svg path.select.purple {
  fill: #6D76AD;
}
.container .content .data .map svg path.select.green {
  fill: #6AA27A;
}
.container .content .data .map svg path.select {
  stroke-width: 3;
  stroke: #DFA175;
}
@media (max-width: 960px) {
  .container .content .data .map {
    width: 80%;
    margin-left: 0;
    min-width: none;
  }
}
.container .content .data .hints {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 20%;
  position: absolute;
  right: 0;
  top: 0;
  opacity: 1;
  transition: 0.5s ease-in-out;
}
.container .content .data .hints .hint-card {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 52px;
  background: #DEE0E4;
  border-radius: 8px;
  width: 100%;
  max-width: 250px;
}
.container .content .data .hints .hint-card .text {
  display: flex;
  flex-direction: column;
}
.container .content .data .hints .hint-card .text .title {
  display: flex;
  align-items: center;
  gap: 8px;
}
.container .content .data .hints .hint-card .text .title img {
  height: auto;
}
.container .content .data .hints .hint-card .img {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1%;
}
.container .content .data .hints .hint-card .img img {
  width: 100%;
}
@media (max-width: 960px) {
  .container .content .data .hints {
    width: 100%;
    flex-direction: row;
    overflow: scroll;
    top: auto;
    bottom: 0;
    height: fit-content;
    position: relative;
  }
}
.container .content .data .detail {
  width: 20%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.5s ease-in-out;
}
.container .content .data .detail .detail-card {
  opacity: 0;
  transition: 0.3s ease-in-out;
  flex-direction: column;
  gap: 12px;
  border: 2px solid #84CB89;
  padding: 20px;
  border-radius: 8px;
  width: 100%;
  min-width: 250px;
  user-select: none;
}
.container .content .data .detail .detail-card:hover {
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
}
@media (max-width: 960px) {
  .container .content .data .detail {
    width: 100%;
    flex-direction: row;
    overflow: scroll;
    top: auto;
    bottom: 0;
    height: fit-content;
  }
}
@media (max-width: 960px) {
  .container .content .data {
    flex-direction: column;
    gap: 20px;
  }
}

.candidate-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.candidate-list li {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.candidate-list li .candidate {
  display: flex;
  align-items: center;
  gap: 12px;
  flex: 1;
  padding-right: 12px;
}
.candidate-list li .candidate .no {
  width: 24px;
  height: 24px;
  background: #DEE0E4;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: #FFFFFF;
}
.candidate-list li .vote_data {
  display: flex;
  flex-direction: column;
  padding-left: 12px;
  flex: 0.5;
}
.candidate-list li .vote_data .percentage {
  display: flex;
  gap: 4px;
}
.candidate-list li .vote_data .num {
  display: flex;
  gap: 4px;
}/*# sourceMappingURL=style.css.map */