
$green-normal-default:#84CB89;
$green-normal-hover:#77B789;
$green-normal-active:#6AA27A;

$green-light-default:#F3FAF5;
$green-light-hover:#EDF7F0;
$green-light-active:#D9EFDF;

$green-dark-default:#639872;
$green-dark-hover:#4F7A5B;
$green-dark-active:#3B5B44;
$green-darker:#2E4735;

$purple-normal-default:#8894D8;
$purple-normal-hover:#7A85C2;
$purple-normal-active:#6D76AD;

$purple-light-default:#E9EBF8;
$purple-light-hover:#E9EBF8;
$purple-light-active:#DADEF3;

$purple-dark-default:#666FA2;
$purple-dark-hover:#525982;
$purple-dark-active:#3D4361;
$purple-darker:#30344C;

$blue-normal-default:#262E49;
$blue-normal-hover:#222942;
$blue-normal-active:#1E253A;

$blue-light-default:#E9EAED;
$blue-light-hover:#DEE0E4;
$blue-light-active:#BCBEC7;

$blue-dark-default:#1D2337;
$blue-dark-hover:#171C2C;
$blue-dark-active:#111521;
$blue-darker:#0D101A;

$brown-normal-default:#DFA175;
$brown-normal-hover:#C99169;
$brown-normal-active:#B2815E;

$brown-light-default:#FCF6F1;
$brown-light-hover:#FAF1EA;
$brown-light-active:#F5E2D4;

$brown-dark-default:#A77958;
$brown-dark-hover:#866146;
$brown-dark-active:#644835;
$brown-darker:#4E3829;

$black:#000000;


$black-light-default:#E6E6E6;
$black-light-hover:#D9D9D9;
$black-light-active:#B0B0B0;


$white-normal-default:#FFFFFF;
$white-normal-hover:#E6E6E6;
$white-normal-active:#CCCCCC;


$white-dark-default:#BFBFBF;
$white-dark-hover:#999999;
$white-dark-active:#737373;
$white-darker:#595959;
