body{
    font-family: 'Noto Sans TC', sans-serif;
}
h1,h2,h3,h4,h5,h6{
    line-height: 1.6;
    font-weight: 600;
}
h1{
    font-size: 3.5rem;
}
h2{
    font-size: 3rem;
}
h3{
    font-size: 2.5rem;
}
h4{
    font-size: 2rem;
}
h5{
    font-size: 1.5rem;
}
h6{
    font-size: 1.25rem;
}
p{
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.4;
}
.lg{
    font-size: 1.25rem;
}

.md{
    font-size: 1.125rem;
}

.sm{
    font-size: 0.875rem;
}
.xs{
    font-size: 0.75rem;
}

@media (max-width:768px) {

    h1,h2,h3,h4,h5,h6{
    line-height: 1.2;
    font-weight: 600;
}
h1{
    font-size:2.5 rem;
}
h2{
    font-size: 2rem;
}
h3{
    font-size: 1.5rem;
}
h4{
    font-size: 1.25rem;
}
h5{
    font-size: 1.125rem;
}
h6{
    font-size: 1rem;
}
p{
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.2;
}
.lg{
    font-size: 1.125rem;
}

.md{
    font-size: 1rem;
}

.sm{
    font-size: 0.75rem;
}
.xs{
    font-size: 0.6rem;
}
}