$main: #4d6069 ;
$side: #67a8a8 ;
$deep-side:#a1b4b4;
$white:#FFF;
$light-gray:#f5f5f5;
$gray:#B9B9B9;
$red:#C44021;


body{
    font-family: 'Noto Sans', sans-serif;
    position: relative;
}
.container-1100{
    max-width: 1100px;
    margin: 0 auto;
}
.container-920{

    max-width: 920px;
    margin: 0 auto;
}

@media screen and(max-width:920px){
    .container-1100,.container-920{
        width: 100%;
    }
}

h4{
    font-size: 1.75rem;
    text-align: center;
    padding-bottom: 20px;
    font-weight: 700;
    color: $main;
}
li{
    cursor: initial;
}
.white{
    color: $white;
}
.gray{
    color:$gray;
}
.side{
    color:$side;
}
.bold{
    font-weight: 900;
}
.none{
    display: none;
}
.header{
    border-bottom: 40px solid $main;
    margin-bottom: 30px;
    .container-1100{
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        .logo{
            font-weight: bold;
            font-size: 2rem;
            color: $main;
        }
        .menu{
            ul{
                display: flex;
                li{
                    padding: 20px 25px;
                    transition: 0.8s;
                    a{
                        color: $main;
                        font-size: 1rem;
                    }
                    .side{
                        color: $side;
                    }
                    &:hover{
                        box-shadow: inset 0 -8px $side;
                        a{
                            color: $side;
                            font-weight: 700;
                        }
                    }
                }
            }
        }
        .nav{
            display: none;
        }
        
        .nav-menu.none{
            display: none;
        }
        .nav-menu.block{
            display: none;
        }
    }
}

@media screen and (max-width:920px) {
    .header{
        .container-1100{
            .logo{
                padding: 15px;
            }
            .menu{
                display: none;
            }
            .nav{
                display: block;
                font-size: 30px;
                padding-right: 20px;
                color: $main;
            }
            .nav-menu.block{
                display: block;
                background: rgba($light-gray,0.7);
                text-align: center;
                color: $main;
                position: absolute;
                width: 100%;
                top:62px;
    
                li{
                    padding: 20px;
                    &:hover{
                        background: $main;
    
                        a{
                            color: $white;
                            font-weight: 700;
                        }
                    }
                    a{
                        color: $main;
                    }
                    .side{
                        color: $side;
                    }
                }
            }
     
        }
        
    }
    
}
